<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="card-container card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Cambiar contraseña</h5>
      <p>Escriba su nueva contraseña</p>
      <form [formGroup]="password" action="">

      <p class="card-subtitle mb-2 text-body-secondary">Constraseña</p>
      <input formControlName="NewPassword" class="form-control" type="password">
       <p class="card-subtitle mb-2 text-body-secondary">Repita su contraseña</p>
      <input formControlName="NewPassword2" class="form-control" type="password">

      <br>

      <button type="submit" (click)="changePassword()" class="btn btn-primary">
        Enviar
      </button>
    </form>
    </div>
  </div>
</div>
