<div class ="container  ">
    <div class="card-group">






            <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Venta</h5>
            </div>


            <div class="card-body">
              <a href="#/user/sales" class="card-link">Administrar</a>
              <!-- <a href="#" class="card-link">Another link</a> -->
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Reporte de Ventas</h5>
            </div>


            <div class="card-body">
              <a href="#/user/report-sales" class="card-link">Administrar</a>
              <!-- <a href="#" class="card-link">Another link</a> -->
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Productos</h5>
            </div>


            <div class="card-body">
              <a href="#/user/product" class="card-link">Administrar</a>

            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Reportes de productos</h5>
            </div>


            <div class="card-body">
              <a href="#/user/reports" class="card-link">Administrar</a>
              <!-- <a href="#" class="card-link">Another link</a> -->
            </div>
          </div>
<!--        <div class="card" style="width: 18rem;">-->
<!--            <div class="card-body">-->
<!--              <h5 class="card-title">Categorias</h5>-->
<!--                 </div>-->

<!--            <div class="card-body">-->
<!--              <a href="#/user/categories" class="card-link">Administrar</a>-->
<!--            </div>-->
<!--          </div>-->
<!--        <div class="card" style="width: 18rem;">-->
<!--            &lt;!&ndash; <img src="..." class="card-img-top" alt="..."> &ndash;&gt;-->
<!--            <div class="card-body">-->
<!--              <h5 class="card-title">Usuarios</h5>-->
<!--              &lt;!&ndash; <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> &ndash;&gt;-->
<!--            </div>-->

<!--            <div class="card-body">-->
<!--              <a href="#" class="card-link">Administrar</a>-->
<!--              &lt;!&ndash; <a href="#" class="card-link">Another link</a> &ndash;&gt;-->
<!--            </div>-->
<!--          </div>-->
<!--        <div class="card" style="width: 18rem;">-->
<!--            &lt;!&ndash; <img src="..." class="card-img-top" alt="..."> &ndash;&gt;-->
<!--            <div class="card-body">-->
<!--              <h5 class="card-title">Blog</h5>-->
<!--              &lt;!&ndash; <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> &ndash;&gt;-->
<!--            </div>-->

<!--            <div class="card-body">-->
<!--              <a [routerLink]="['/user/blogs']" class="card-link">Administrar</a>-->
<!--              &lt;!&ndash; <a href="#" class="card-link">Administrar</a> &ndash;&gt;-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="card" style="width: 18rem;">-->
<!--            &lt;!&ndash; <img src="..." class="card-img-top" alt="..."> &ndash;&gt;-->
<!--            <div class="card-body">-->
<!--              <h5 class="card-title">Carrito de compras</h5>-->
<!--            </div>-->

<!--            <div class="card-body">-->
<!--              <a [routerLink]="['/user/shoppingcart/', idUser]" class="card-link">Administrar</a>-->
<!--            </div>-->
<!--          </div>-->



    </div>
