
<div  class=" mx-4  " >
  <div class="row">
    
    <div class="col-auto">
          <form [formGroup]="categoriaForm">

            <select 
            (change)="mostrarcategoria(categoriaForm.value.categoria)" 
            formControlName="categoria" class=" form-control"style="margin-top: 5rem ;" name="" id="">
                <option active value="">Categoría</option>
                <option value="Dulce">Dulce</option>
                <option value="Sal">Sal</option>
                <option value="Light">Light</option>
              </select>
            
            
            </form>
            
            
            
            
            
            <div class="vr" style="height: 100%;"></div>
          </div>
        
        
        
        <div class="col">
        
            <div class="text-center my-5 pt-5">
                <h1 class="precio "> Nuestros Productos</h1>
                <h1 *ngIf="categoriaForm.value.categoria != '' ">{{categoriaForm.value.categoria}}</h1>
              </div>
              
              
              
              <div class=" p-5 justify-content-center   my-5 row row-cols-1 row-cols-md-3 g-4">
                <div  *ngFor="let item of productoFiltrado"  class="col">
                  <div class="card h-100">
                    <img src={{item.imagen}} class="card-img-top" alt={{item.nombre}}>
                    <div class="card-body">
                      <h5 class="card-title">{{item.nombre}}</h5>
                      <p class="card-text">{{item.descripcion}}</p>
                      <p class="precio" >${{item.precio}}</p>
                      <button type="button" class="btn btn-outline-secondary">Agregar</button>
                    </div>
                  </div>
                </div>
                
                <!-- <a type="button" href="#/productos" class=" precio btn btn-outline-secondary">Ver más ...</a> -->
                
              </div>
        </div>
    </div>


</div>


  
  