


<div  id="carouselExampleFade" class="carousel slide carousel-dark carousel-container">
    <div class="carousel-inner">
      <div *ngFor="let item of corrousel"  class="carousel-item active ">

        <img src= {{item.image}}  class="d-block w-100 imagen" alt="...">
        <div class="carousel-caption d-none d-md-block ">

        </div>
      </div>

    </div>
    <button id = "prevButton" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <app-card></app-card>

  <hr class="featurette-divider">

  <div class=" text-end pb-5 container featurette">
    <h1>Nuestros Principios</h1>
  </div>

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <h2 class="fw-normal">Puntualidad</h2>
      <p>La puntualidad es esencial en el sector de transporte y logística. Nos comprometemos a cumplir con los tiempos de entrega acordados, entendiendo que cada minuto cuenta para nuestros clientes. Nuestra eficiencia en las rutas y procesos asegura que la carga llegue siempre a tiempo.</p>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-4">
      <h2 class="fw-normal">Seguridad</h2>
      <p>Transportar bienes de manera segura es nuestra máxima prioridad. Implementamos protocolos rigurosos, tecnologías de rastreo y un personal altamente capacitado para garantizar que cada envío llegue en perfectas condiciones, sin riesgos ni imprevistos.</p>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-4">
      <h2 class="fw-normal">Compromiso</h2>
      <p>Nos mueve un fuerte compromiso con nuestros clientes. Nos adaptamos a sus necesidades logísticas, ofreciendo soluciones flexibles y personalizadas. Nuestro equipo trabaja con pasión y responsabilidad para garantizar un servicio confiable y de calidad en cada trayecto.</p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
</div>


