


<div  id="carouselExampleFade" class="carousel slide carousel-dark carousel-container">
    <div class="carousel-inner">
      <div *ngFor="let item of corrousel"  class="carousel-item active ">

        <img src= {{item.image}}  class="d-block w-100 imagen" alt="...">
        <div class="carousel-caption d-none d-md-block ">

        </div>
      </div>

    </div>
    <button id = "prevButton" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <app-card></app-card>

  <hr class="featurette-divider">

  <div class=" text-end pb-5 container featurette">
    <h1>Nuestros Principios</h1>
  </div>

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <h2 class="fw-normal">Puntualidad</h2>
      <p>La puntualidad es esencial en el sector de transporte y logística. Nos comprometemos a cumplir con los tiempos de entrega acordados, entendiendo que cada minuto cuenta para nuestros clientes. Nuestra eficiencia en las rutas y procesos asegura que la carga llegue siempre a tiempo.</p>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-4">
      <h2 class="fw-normal">Seguridad</h2>
      <p>Transportar bienes de manera segura es nuestra máxima prioridad. Implementamos protocolos rigurosos, tecnologías de rastreo y un personal altamente capacitado para garantizar que cada envío llegue en perfectas condiciones, sin riesgos ni imprevistos.</p>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-4">
      <h2 class="fw-normal">Compromiso</h2>
      <p>Nos mueve un fuerte compromiso con nuestros clientes. Nos adaptamos a sus necesidades logísticas, ofreciendo soluciones flexibles y personalizadas. Nuestro equipo trabaja con pasión y responsabilidad para garantizar un servicio confiable y de calidad en cada trayecto.</p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
</div>
    <!-- START THE FEATURETTES -->


    <hr class="featurette-divider">
<div class="text-center pb-3 container featurette">
  <h1>Bloc</h1>
  </div>

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">First featurette heading. <span class="text-body-secondary">It’ll blow your mind.</span></h2>
        <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Oh yeah, it’s that good. <span class="text-body-secondary">See for yourself.</span></h2>
        <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">And lastly, this one. <span class="text-body-secondary">Checkmate.</span></h2>
        <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg>
      </div>


    <hr class="featurette-divider">

  </div>
