


<div  id="carouselExampleFade" class="carousel slide carousel-dark carousel-container">
    <div class="carousel-inner">
      <div *ngFor="let item of corrousel"  class="carousel-item active ">
     
        <img src= {{item.image}}  class="d-block w-100 imagen" alt="...">
        <div class="carousel-caption d-none d-md-block ">
          <h5>{{item.titulo}}</h5>
          <p>{{item.subtitulo}}</p>
        </div>
      </div>
      
    </div>
    <button id = "prevButton" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button> 
  </div>
  <app-card></app-card>

  <hr class="featurette-divider">

  <div class=" text-end pb-5 container featurette">
  <h1>Nuestros Principios</h1>
  </div>

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <!-- <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="assets/reposteria.jpg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title> -->
        <h2 class="fw-normal">Salud</h2>
        <p>La repostería saludable es una opción que busca combinar la dulzura con la nutrición, utilizando ingredientes naturales y minimizando el uso de azúcares añadidos. De esta manera, se pueden disfrutar de postres deliciosos y saludables que no solo satisfacen el paladar, sino que también aportan beneficios para el cuerpo.




        </p>
        <!-- <p><a class="btn btn-secondary" href="#">View details »</a></p> -->
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <!-- <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg> -->
        <h2 class="fw-normal">Calidad</h2>
        <p>La calidad en la repostería se refleja en la calidad de los ingredientes utilizados, la atención al detalle en la preparación y presentación, y el compromiso con la salud y el bienestar. Un postre de alta calidad puede ser una opción saludable y deliciosa, donde la calidad de los ingredientes y la atención al detalle en la preparación se combinan para crear una experiencia culinaria única y gratificante.</p>
        <!-- <p><a class="btn btn-secondary" href="#">View details »</a></p> -->
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <!-- <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg> -->
        <h2 class="fw-normal">Sabor</h2>
        <p>Estamos en la busqueda de combinar sabores y texturas para crear experiencias culinarias únicas y deliciosas. Un postre bien elaborado puede transportar a quien lo prueba a un mundo de sensaciones y emociones, donde el sabor es el protagonista principal.</p>
        <!-- <p><a class="btn btn-secondary" href="#">View details »</a></p> -->
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->


    <hr class="featurette-divider">
<div class="text-center pb-3 container featurette">
  <h1>Bloc</h1>
  </div>

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">First featurette heading. <span class="text-body-secondary">It’ll blow your mind.</span></h2>
        <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Oh yeah, it’s that good. <span class="text-body-secondary">See for yourself.</span></h2>
        <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">And lastly, this one. <span class="text-body-secondary">Checkmate.</span></h2>
        <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div>