<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" >Administración</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
        <form class="d-flex" role="search">
         <button class="btn btn-outline-success position-absolute top-0 end-0" type="submit" (click)="logOut()">Logout</button>
        </form>
      </div>
    </div>
  </nav>


<router-outlet></router-outlet>


