
<div class="precio great-vibes-regular text-center my-5">
    <h1> Nuestros Productos</h1>
  </div>
  
  
  <div class=" p-5 justify-content-center   my-5 row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="pexels-daria-daria-168502-552535.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Cupcake</h5>
          <p class="card-text">Un cupcake es un postre pequeño y delicioso que consiste en una base de masa esponjosa, cubierta con una capa de crema o glaseado y decorada con ingredientes como frutas, nueces o chocolates.</p>
          <p class="precio" >$5</p>
          <button type="button" class="btn btn-outline-secondary">Agregar</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="pexels-changerstudio-140831.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Tarta de durazno</h5>
          <p class="card-text">Una tarta de durazno es un postre clásico y refrescante que combina la dulzura del durazno con la textura crujiente de la masa y la crema suave del relleno.</p>
          <p class="precio" >$25</p>
          <button type="button" class=" btn btn-outline-secondary">Agregar</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="pexels-nestor-cortez-341956-960540.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Pastel de chocolate</h5>
          <p class="card-text">Un pastel de chocolate es un postre rico y decadente que consiste en una base de masa de chocolate.</p>
          <p class="precio">$30</p>
          <button type="button" class="btn btn-outline-secondary">Agregar</button>
        </div>
      </div>
    </div>
    <a type="button" href="#/pages/productos" class=" precio btn btn-outline-secondary">Ver más ...</a>
   
  </div>
  
  <div class=" container  p-5 mb-3 d-flex justify-content-center" >
    <div class="row g-0">
      <div class="col-md-4">
        <img src="pexels-tim-douglas-6210848.jpg" class="img-fluid " alt="...">
      </div>
      <div class=" p-3 col-md-8">
        <div class="card-body ">
          <h1 class=" precio  card-title">En esta Navidad date el gusto</h1>
          <br>
          <h1 class="great-vibes-regular  precio  card-title">Pan de Pascua</h1>
          <p class="card-text ">El pan de Pascua es un postre tradicional que se consume durante la Semana Santa, especialmente en países de América Latina y Europa. Es un pan dulce y esponjoso, típicamente decorado con frutas secas, nueces y especias.</p>
          <p class="card-text"> <strong>Preparación:</strong></p>
          <p class="card-text"> <strong>Ingredientes:</strong></p>
          <p>
            Harina de trigo
  Azúcar
  Huevos
  Mantequilla
  Leche
  Frutas secas (como pasas, almendras y nueces)
  Especias (como canela, clavo y nuez moscada)
  Levadura
          </p>
          <p class="card-text"><strong>Preparación:</strong></p>
          <p>
            Mezclar la harina de trigo con la leche y la mantequilla.
  Agregar el azúcar y mezclar bien.
  Agregar los huevos y mezclar.
  Agregar las frutas secas y mezclar.
  Agregar la levadura y mezclar.
  Poner la mezcla en una bandeja y dejar reposar durante 1 hora.
  Poner la masa en una bandeja y dejar reposar durante 1 hora.
          </p>
        </div>
      </div>
    </div>

   
  </div>
  