
<div class="precio great-vibes-regular text-center my-5">
    <h1> Nuestros Servicios</h1>
  </div>


  <div class=" p-5 justify-content-center   my-5 row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="pexels-daria-daria-168502-552535.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Servicio de alquiler de contenedores</h5>
          <p class="card-text">Servicio de alquiler de contenedores para que pueda movilizar su carga.</p>

        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="pexels-changerstudio-140831.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Puertos</h5>
          <p class="card-text">Puertos con alta tecnología para mayor seguridad.</p>

        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="pexels-nestor-cortez-341956-960540.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Buques de carga</h5>
          <p class="card-text">Buques con alta capacidad de carga.</p>

        </div>
      </div>
    </div>

  </div>


