<div class="footer  d-flex justify-content-between ">

    <div class=" container pt-4 nosotros col">
        <h2>Contactos</h2>
    <p>Cdla. Albatroz Mz.15 V.20</p>
    <p>Telefono: 123456789</p>

    <!-- <div class="vr" style="height: 100%;"></div> -->
    </div>
    <div class="nosotros col">
        <h1>Servicios</h1>
        <p>
            <a class="nav-link" href="">Entrega a todo el pais </a>
        </p>
        <p>
            <a class="nav-link" href="">Envios a todo el mundo</a>
        </p>
        <p>
            <a class="nav-link" href="">Eventos</a>
        </p>
    <!-- <div class="vr" style="height: 100%;"></div> -->
    </div>

</div>
